
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Unmatched Forum Hotel Info</title>
    <%= javascript_include_tag 'prototype','effects','application' %>

  </head>
    <body bgcolor="white" text="black">
    <h1>Unmatched Forum Hotel Info</h1>
    
    <strong><%=@current%> of <%=@total%></strong>

    <% if not @data.nil? %>

    <strong>
      Got user data <%= @data %>

      selected <%= @usrchoice %>

    </strong>

    <%  end %>
    

    <table sytle="float: right">

      <tr>
        <td>
          <h3>Unmatched Hotel Information</h3>
        </td>
        <td width="10px"></td>
        <td>
          <h3>Possible Hotel Information</h3>
        </td>
      </tr>

      <tr>

        <td width="300px" valign="top">
          Hotel name: <strong><%=@unmatched_hotel.get_forum_hotel_info.hotel_name%></strong>
          <br>Region name: <strong><%= @unmatched_hotel.get_forum_hotel_info.region %></strong></br>
          City/Area: <strong><%= @unmatched_hotel.get_forum_hotel_info.city_area %></strong>
          <br>State name: <strong><%= @unmatched_hotel.get_forum_hotel_info.state %></strong></br>
        </td>

        <td width="50px" valign="top"></td>

        <td valign="top">
          <ol id="possible_hotel_list" start="0">
            <% for possible_matches in @unmatched_hotel.get_possible_hotel_matches %>
              <li><%= possible_matches.get_hotel_info.name %>, <%= possible_matches.get_hotel_info.get_city_info.name %>, <%= possible_matches.get_hotel_info.get_city_info.state %>   <strong><%= possible_matches.percentage_match * 100  %>% </strong><i><strong><%= possible_matches.get_hotel_info.address %></strong></i></li>
            <% end %>
              <li><i>Mark to Add</i></li>
              <li><i>Skip</i></li>
          </ol>
        </td>

      </tr>

      <iframe style="float:right"  src="http://maps.google.ca/maps?hl=en&tab=wl&q=<%= @unmatched_hotel.get_forum_hotel_info.hotel_name.to_s.sub(" ","+")+ '+' + @unmatched_hotel.get_forum_hotel_info.region.to_s.sub(" ","+")+ '+' + @unmatched_hotel.get_forum_hotel_info.city_area.to_s.sub(" ","+") + '+'+@unmatched_hotel.get_forum_hotel_info.state.to_s.sub(" ","+")  %>" width="50%" height="700px" >
      <p>Your browser does not support iframes.</p>
      </iframe>

     
    </table>

     

    <% if not @matched.nil? %>

      <span style="background: #ffff00">
          This Forum hotel has already been matched with:
          <%=@matched.name%>, <%=@matched.get_city_info.name%>
      </span>

    <% end %>

      <form id ="user-hotel-input"action = "/hotel/detail/<%= @current %>" >
             Please enter your choice (0 to <%=  @unmatched_hotel.get_possible_hotel_matches.length + 1 %>):
             <br>
             <input id="user-input-box" type="text" name="usr_input">
             <br>
             <br>
             
             <input type="submit"/>
      </form>


   
    <div><a href ="/hotel/detail/<%= @prev %>">previous</a>  <a href ="/hotel/detail/<%= @next %>">next</a></div>

    <iframe style="float:left" src="<%= @unmatched_hotel.source_url %>" width="45%" height="700px" >
      <p>Your browser does not support iframes.</p>
      </iframe>



</body>

</html>