<% title "Hotel" %>

<p>
  <strong>Name:</strong>
  <%=h @hotel.name %>
</p>
<p>
  <strong>Rating:</strong>
  <%=h @hotel.rating %>
</p>
<p>
  <strong>City:</strong>
  <%=h @hotel.city_id %>
</p>
<p>
  <strong>State:</strong>
  <%=h @hotel.state %>
</p>
<p>
  <strong>Country:</strong>
  <%=h @hotel.country %>
</p>
<p>
  <strong>Address:</strong>
  <%=h @hotel.address %>
</p>
<p>
  <strong>Minimumrate:</strong>
  <%=h @hotel.minimumrate %>
</p>
<p>
  <strong>Currency:</strong>
  <%=h @hotel.currency %>
</p>
<p>
  <strong>Latitude:</strong>
  <%=h @hotel.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%=h @hotel.longitude %>
</p>
<p>
  <strong>Ratingcount:</strong>
  <%=h @hotel.ratingcount %>
</p>
<p>
  <strong>Userrating:</strong>
  <%=h @hotel.userrating %>
</p>
<p>
  <strong>Property:</strong>
  <%=h @hotel.property %>
</p>

<p>
  <%= link_to "Edit", edit_hotel_path(@hotel) %> |
  <%= link_to "Destroy", @hotel, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", hotels_path %>
</p>
