<p>
  <b>Name:</b>
  <%=h @hotel.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @hotel.address %>
</p>

<p>
  <b>City:</b>
  <%=h @hotel.city_id %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @hotel.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @hotel.longitude %>
</p>

<p>
  <b>Rating:</b>
  <%=h @hotel.rating %>
</p>

<p>
  <b>Hotels combined:</b>
  <%=h @hotel.hotels_combined_id %>
</p>

<p>
  <b>Filename:</b>
  <%=h @hotel.filename %>
</p>


<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>